<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | About</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('about_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main class="content">
    <section>
    <h3>About</h3>
    <p>Lambda is an image and video hosting service that respects your privacy. The main goals of Lambda are to provide fast uploads, short links, direct downloads, and do that all while being as unintrusive as possible.</p>
    </section>

    <section>
    <h3>Security</h3>
    <p>Lambda's paste service is fully encrypted client-side. The actual content of what you paste never hits the server, nor does the decryption key. Only people that you give the link to can access the paste, even if the server is seized.</p>
    </section>

    <section>
    <h3>Domains</h3>
    <p>Uploads can be linked via the following domains:</p>
    <ul>
        <li><a href="https://lambda.sx">lambda.sx</a></li>
        <li><a href="https://xn--wxa.pw">λ.pw</a></li>
    </ul>
    </section>

    <section>
    <h3>Uploads</h3>
    <p>Registered Lambda users can upload files up to 50 megabytes while anonymous uploads are limited to 6 megabytes.</p>
    <p>Uploads from logged-in users are never automatically deleted.</p>
    <p>The following types are supported:</p>
    <ul class="csl">
        {% for filetype in allowed_types %}
            <li>{{ filetype }}</li>
        {% endfor %}
    </ul>
    </section>
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
</body>

</html>