<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Oops</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('error_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main>
    <div class="error-lenny">
        ( ͡° ʖ̯ ͡°)
    </div>
    <div class="error-text">
        {{ message }}
    </div>
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
</body>

</html>