<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | No-Bullshit File Sharing</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('index_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main>
    <div class="center-logo-symbol">
        λ
    </div>
</main>
<footer>
    <div class="disclaimer">
        Lambda is a publicly-accessible free file-sharing service.
    </div>
    <div class="disclaimer">
        Lambda's owner takes no responsibility for anything uploaded.
    </div>
</footer>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
</body>

</html>