<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Login</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('form_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    <div class="form-top">
        <div class="logo">λ</div>
        Sign In
    </div>
</header>
<main>
    <div class="form-wrapper">
        <noscript>
        <p>
        Looks like you have JavaScript disabled or NoScript blocking the login script.
        You need JavaScript enabled to use much of Lambda, including to login.
        We respect your privacy and will not use JavaScript to track you.
        </p>
        </noscript>

        <div id="errorArea"></div>

        <form action="/api/user/login" method="POST" id="loginForm" onsubmit="return login();">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign In">
        </form>
    </div>
    <div class="center-text"><a href="/register">Create an account</a></div>
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
{{ import_js('login_js') }}
</body>

</html>