<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | No-Bullshit File Sharing</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('codemirror_css') }}
    {{ import_css('paste_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main>
    <label for="paste-area" style="display: none" hidden></label><textarea class="paste-area" id="paste-area"></textarea>
</main>
<footer>
    <div class="bottom-buttons">
        <a href="#"><div class="submit" onclick="submitPaste()">SUBMIT</div></a>
        <a href="#" onclick="toggleCode()"><div id="codeLabel">CODE: NO</div></a>
    </div>
</footer>

{% from "_util.html" import import_js %}
{{ import_js('codemirror_js') }}
{{ import_js('sjcl') }}
{{ import_js('paste_js') }}
</body>

</html>