<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | No-Bullshit File Sharing</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('past_upload_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main class="content">
    <h2 id="pageNum">You must be signed in and have JavaScript enabled to use this page</h2>
    <ul class="upload-container" id="uploads">
    </ul>
    <div class="navRow">
        <a href="" id="goBack" onclick="prevPage(); return false;" class="navButton hidden">Previous</a>
        <a href="" id="goNext" onClick="nextPage(); return false;" class="navButton hidden">Next</a>
    </div>
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
{{ import_js('past_upload_js') }}
</body>

</html>