<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Register</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('form_css') }}

    {% include "shared_head.html" %}

    {% if config['RECAPTCHA'] %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}
</head>

<body>
<header>
    <div class="form-top">
        <div class="logo">λ</div>
        Register
    </div>
</header>
<main>
    <div class="form-wrapper">
        <div id="errorArea"></div>

        <form action="/api/user/new" method="POST" id="registerForm" onsubmit="return register();">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password_confirm" placeholder="Confirm Password">

            {% if config['RECAPTCHA'] %}
            {# TODO get site key from a js request #}
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_sitekey }}"></div>
            {% endif %}

            <input type="submit" value="Register">
        </form>
    </div>
    <div class="center-text"><a href="/login">Sign in to existing account</a></div>
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
{{ import_js('register_js') }}
</body>

</html>