<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | Register</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('form_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    <div class="form-top">
        <div class="logo">λ</div>
        Register
    </div>
</header>
<main>
    <div class="form-wrapper">
        <form action="/api/user/new" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password_confirm" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="center-text"><a href="/login">Sign in to existing account</a></div>
</main>

{#{% assets 'auth_js' %}#}
{#    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>#}
{#{% endassets %}#}
</body>

</html>