<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | File Upload</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('upload_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header>
    {% include "topbar.html" %}
</header>
<main class="content">
    <h1 class="upload-label">Upload</h1>
    <h2 class="upload-instruction">Drag and drop or click <a href="#" onclick="document.getElementById('chooseFile').click();return false;">here</a> to upload a file</h2>

    <ul class="uploads finished" id="finished-uploads">
    </ul>
    <ul class="uploads" id="ongoing-uploads">
    </ul>

    <input type="file" id="chooseFile" style="visibility: hidden;">
</main>

{% from "_util.html" import import_js %}
{{ import_js('all_js') }}
{{ import_js('upload_js') }}
</body>

</html>