<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>λ | No-Bullshit File Sharing</title>

    {% from "_util.html" import import_css %}
    {{ import_css('main_css') }}
    {{ import_css('codemirror_css') }}
    {{ import_css('paste_css') }}

    {% include "shared_head.html" %}
</head>

<body>
<header class="hidden">
    {% include "topbar.html" %}
</header>
<main>
    <a href="#" class="topbar-toggle" onclick="toggleTopbar()">λ</a>
    <div class="time-remaining" id="time-remaining">12 Hours Remaining</div>
    <label for="paste-area" style="display: none" hidden></label><textarea readonly class="paste-area" id="paste-area">Loading...</textarea>
</main>

{% from "_util.html" import import_js %}
{{ import_js('sjcl') }}
{{ import_js('codemirror_js') }}
{{ import_js('all_js') }}
{{ import_js('paste_js') }}
</body>

</html>