.top-bar
  background: none

main
  box-shadow: 0 0 8px rgba(0,0,0,0.8)
  background: #002b36
  margin-top: 6px
  z-index: 1
  max-height: 96.2%

.paste-area
  background: #002b36
  box-sizing: border-box
  width: 100%
  min-height: 99%
  border: none
  resize: none
  color: #839496
  font-family: monospace
  padding: 10px

.CodeMirror
  height: 99%

.bottom-buttons
  display: flex
  background-color: #666666
.bottom-buttons a
  width: 50%
.bottom-buttons div
  padding: 10px
  text-align: center
  color: #eee
  transition-duration: 0.2s
.bottom-buttons div.enabled
  background-color: #888
.bottom-buttons div.submit
  background-color: #268bd2

.topbar-toggle
  text-decoration: none
  color: #073642
  margin-left: 10px
  margin-top: 10px
  font-size: 200%